{% load i18n %}

<h4 id="request-headers">{% trans "Request headers" %}</h4>

<table aria-labelledby="request-headers">
  <thead>
    <tr>
      <th>{% trans "Key" %}</th>
      <th>{% trans "Value" %}</th>
    </tr>
  </thead>
  <tbody>
    {% for key, value in request_headers.items %}
      <tr>
        <td>{{ key|escape }}</td>
        <td>{{ value|escape }}</td>
      </tr>
    {% endfor %}
  </tbody>
</table>

<h4 id="response-headers">{% trans "Response headers" %}</h4>

<table aria-labelledby="response-headers">
  <thead>
    <tr>
      <th>{% trans "Key" %}</th>
      <th>{% trans "Value" %}</th>
    </tr>
  </thead>
  <tbody>
    {% for key, value in response_headers.items %}
      <tr>
        <td>{{ key|escape }}</td>
        <td>{{ value|escape }}</td>
      </tr>
    {% endfor %}
  </tbody>
</table>

<h4 id="wsgi-environ">{% trans "WSGI environ" %}</h4>

<p>{% trans "Since the WSGI environ inherits the environment of the server, only a significant subset is shown below." %}</p>

<table aria-labelledby="wsgi-environ">
  <thead>
    <tr>
      <th>{% trans "Key" %}</th>
      <th>{% trans "Value" %}</th>
    </tr>
  </thead>
  <tbody>
    {% for key, value in environ.items %}
      <tr>
        <td>{{ key|escape }}</td>
        <td>{{ value|escape }}</td>
      </tr>
    {% endfor %}
  </tbody>
</table>
