{% load i18n static %}
<form method="get" action="{% url 'djdt:history_refresh' %}">
    {{ refresh_form }}
    <button class="refreshHistory">{% trans "Refresh" %}</button>
</form>
<table class="djdt-max-height-100" role="grid" aria-labelledby="history-table-heading">
    <thead>
        <tr role="row">
            <th role="columnheader">{% trans "Time" %}</th>
            <th role="columnheader">{% trans "Method" %}</th>
            <th role="columnheader">{% trans "Path" %}</th>
            <th role="columnheader">{% trans "Request Variables" %}</th>
            <th role="columnheader">{% trans "Status" %}</th>
            <th role="columnheader">{% trans "Action" %}</th>
        </tr>
    </thead>
    <tbody id="djdtHistoryRequests" role="rowgroup">
        {% for id, store_context in stores.items %}
            {% include "debug_toolbar/panels/history_tr.html" %}
        {% endfor %}
    </tbody>
</table>
