<h3>Log Messages</h3>
{% if records %}
	<table>
		<thead>
			<tr>
				<th>Level</th>
				<th>Time</th>
				<th>Message</th>
				<th>Location</th>
			</tr>
		</thead>
		<tbody>
			{% for record in records %}
				<tr class="{% cycle 'djDebugOdd' 'djDebugEven' %}">
					<td>{{ record.level }}</td>
					<td>{{ record.time|date:"h:i:s m/d/Y" }}</td>
					<td>{{ record.message }}</td>
					<td>{{ record.file }}:{{ record.line }}</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>
{% else %}
	<p>No messages logged.</p>
{% endif %}

