{% load i18n %}

{% if variables.list %}
<table role="table" aria-labelledby="request-variables-table-heading">
  <colgroup>
    <col class="djdt-width-20">
    <col>
  </colgroup>
  <thead>
    <tr role="row">
      <th role="columnheader">{% trans "Variable" %}</th>
      <th role="columnheader">{% trans "Value" %}</th>
    </tr>
  </thead>
  <tbody role="rowgroup">
    {% for key, value in variables.list %}
      <tr role="row">
        <td><code>{{ key|pprint }}</code></td>
        <td><code>{{ value|pprint }}</code></td>
      </tr>
    {% endfor %}
  </tbody>
</table>
{% elif variables.raw %}
<code class="djdt-raw">{{ variables.raw|pprint }}</code>
{% endif %}
