{% load i18n %}

<div class="djDebugPanelTitle" role="heading" aria-level="2">
  <button type="button" class="djDebugClose">»</button>
  <h3>{% trans "SQL selected" %}</h3>
</div>
<div class="djDebugPanelContent">
  <div class="djdt-scroll">
    <dl role="list">
      <dt role="listitem">{% trans "Executed SQL" %}</dt>
      <dd role="listitem">{{ sql|safe }}</dd>
      <dt role="listitem">{% trans "Time" %}</dt>
      <dd role="listitem">{{ duration }} ms</dd>
      <dt role="listitem">{% trans "Database" %}</dt>
      <dd role="listitem">{{ alias }}</dd>
    </dl>
    {% if result %}
      <table role="table">
        <thead role="rowgroup">
          <tr role="row">
            {% for h in headers %}
              <th role="columnheader">{{ h|upper }}</th>
            {% endfor %}
          </tr>
        </thead>
        <tbody role="rowgroup">
          {% for row in result %}
            <tr role="row">
              {% for column in row %}
                <td role="cell">{{ column|escape }}</td>
              {% endfor %}
            </tr>
          {% endfor %}
        </tbody>
      </table>
    {% else %}
      <p role="status">{% trans "Empty set" %}</p>
    {% endif %}
  </div>
</div>
