{% load i18n %}

<h4 role="heading" aria-level="2">{% blocktrans count staticfiles_dirs|length as dirs_count %}Static file path{% plural %}Static file paths{% endblocktrans %}</h4>
{% if staticfiles_dirs %}
  <ol role="list">
    {% for prefix, staticfiles_dir in staticfiles_dirs %}
      <li role="listitem">{{ staticfiles_dir }}{% if prefix %} {% blocktrans %}(prefix {{ prefix }}){% endblocktrans %}{% endif %}</li>
    {% endfor %}
  </ol>
{% else %}
  <p role="status">{% trans "None" %}</p>
{% endif %}

<h4 role="heading" aria-level="2">{% blocktrans count staticfiles_apps|length as apps_count %}Static file app{% plural %}Static file apps{% endblocktrans %}</h4>
{% if staticfiles_apps %}
  <ol role="list">
    {% for static_app in staticfiles_apps %}
      <li role="listitem">{{ static_app }}</li>
    {% endfor %}
  </ol>
{% else %}
  <p role="status">{% trans "None" %}</p>
{% endif %}

<h4 role="heading" aria-level="2">{% blocktrans count staticfiles|length as staticfiles_count %}Static file{% plural %}Static files{% endblocktrans %}</h4>
{% if staticfiles %}
  <dl role="list">
    {% for staticfile in staticfiles %}
      <dt role="listitem"><strong><a class="toggleTemplate" href="{{ staticfile.url }}">{{ staticfile }}</a></strong></dt>
      <dd role="listitem"><samp>{{ staticfile.real_path }}</samp></dd>
    {% endfor %}
  </dl>
{% else %}
  <p role="status">{% trans "None" %}</p>
{% endif %}

{% for finder, payload in staticfiles_finders.items %}
  <h4 role="heading" aria-level="2">{{ finder }} ({% blocktrans count payload|length as payload_count %}{{ payload_count }} file{% plural %}{{ payload_count }} files{% endblocktrans %})</h4>
  <table role="table">
    <thead role="rowgroup">
      <tr role="row">
        <th role="columnheader">{% trans 'Path' %}</th>
        <th role="columnheader">{% trans 'Location' %}</th>
      </tr>
    </thead>
    <tbody role="rowgroup">
      {% for path, real_path in payload %}
        <tr role="row">
          <td role="cell">{{ path }}</td>
          <td role="cell">{{ real_path }}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endfor %}
