<h3>Template path{{ template_dirs|length|pluralize }}:</h3>
{% if template_dirs %}
	<ol>
	{% for template in template_dirs %}
		<li>{{ template }}</li>
	{% endfor %}
	</ol>
{% else %}
	<p>None</p>
{% endif %}
<h3>Template{{ templates|length|pluralize }}</h3>
{% if templates %}
<dl>
{% for template in templates %}
	<dt><strong><a class="remoteCall" href="/__debug__/template_source/?template={{ template.template.name }}">{{ template.template.name|addslashes }}</a></strong></dt>
	<dd><samp>{{ template.template.origin_name|addslashes }}</samp></dd>
	<dd>
		<div class="djTemplateShowContextDiv"><a class="djTemplateShowContext">Toggle Context</a></div>
		<div class="djTemplateHideContextDiv" style="display:none;"><pre>{{ template.context }}</pre></div>
	</dd>
{% endfor %}
</dl>
{% else %}
	<p>None</p>
{% endif %}
<h3>Context processor{{ context_processors|length|pluralize }}</h3>
{% if context_processors %}
<dl>
{% for key, value in context_processors.iteritems %}
	<dt><strong>{{ key|escape }}</strong></dt>
	<dd>
		<div class="djTemplateShowContextDiv"><a class="djTemplateShowContext">Toggle Context</a></div>
		<div class="djTemplateHideContextDiv" style="display:none;"><pre>{{ value|escape }}</pre></div>
	</dd>
{% endfor %}
</dl>
{% else %}
	<p>None</p>
{% endif %}
