<h3>Template path(s):</h3>
{% if template_dirs %}
	<ol>
	{% for template in template_dirs %}
		<li>{{ template }}</li>
	{% endfor %}
	</ol>
{% else %}
	None
{% endif %}
<h3>Templates Used</h3>
{% if templates %}
<dl>
{% for template in templates %}
	<dt><strong>{{ template.template.name|addslashes }}</strong></dt>
	<dd><samp>{{ template.template.origin_name|addslashes }}</samp></dd>
	<dd>
		<div class="djTemplateShowContextDiv"><a class="djTemplateShowContext">Toggle Context</a></div>
		<div class="djTemplateHideContextDiv" style="display:none;"><pre>{{ template.context }}</pre></div>
	</dd>
{% endfor %}
</dl>
{% else %}
	None
{% endif %}
