{% load i18n %}
<table role="table" aria-label="{% trans "Package versions" %}">
  <colgroup>
    <col class="djdt-width-20">
    <col class="djdt-width-20">
    <col>
  </colgroup>
  <thead>
    <tr role="row">
      <th role="columnheader">{% trans "Package" %}</th>
      <th role="columnheader">{% trans "Name" %}</th>
      <th role="columnheader">{% trans "Version" %}</th>
    </tr>
  </thead>
  <tbody>
    {% for package, name, version in versions %}
      <tr role="row">
        <td role="gridcell">{{ package }}</td>
        <td role="gridcell">{{ name }}</td>
        <td role="gridcell">{{ version }}</td>
      </tr>
    {% endfor %}
  </tbody>
</table>
