# The debug toolbar itself

-e .

# Runtime dependencies

Django==1.11.2
sqlparse==0.2.3
django_jinja

# Testing

coverage
flake8
html5lib
isort
selenium
tox

# Documentation

Sphinx

# Other tools

transifex-client
wheel
