# Runtime dependencies

Django
sqlparse
Jinja2

# Testing

coverage[toml]
flake8
html5lib
isort
selenium
tox
black

# Documentation

Sphinx
sphinxcontrib-spelling

# Other tools

pre-commit
transifex-client
