<script type="text/javascript">
	var djDebugLastObj = null;
	function djDebugToggle(obj) {
		if (djDebugLastObj) djDebugLastObj.style.display = 'none';
		var obj = document.getElementById(obj);
		if (!obj) return;
		if (djDebugLastObj == obj) {
			djDebugLastObj = null;
			return;
		}
		if (obj.style.display != 'block') {
			obj.style.display = 'block';
			djDebugLastObj = obj;
		}
	}
	function djDebugClose() {
		if (!djDebugLastObj) return;
		djDebugLastObj.style.display = 'none';
		djDebugLastObj = null;
	}
</script>
<style type="text/css">
	#djDebugToolbar {height:30px; background:#efefef; color:#000; z-index:100000000; border:1px solid #06171D; border-width:1px 0;}
	#djDebugToolbar ul {margin:0; padding:0 10px; list-style:none;}
	#djDebugToolbar li {display:inline; width:auto; position:relative; float:none; margin:0 10px 0 0; padding:0; height:20px; line-height:30px; padding:8px 10px 8px 0; border-right: 1px solid #06171D;}
	#djDebugToolbar #djDebugButton {color:red; font-weight:bold;}
	#djDebug * {margin:0; padding:0; float:none; position:static; }
	#djDebug .panelContent {display:none; position:absolute; margin:0; padding:5px; top:35px; width:auto; left:5px; right:5px; bottom:5px; background:white; color:black; border:1px solid black; z-index:1000000; overflow:auto;}
	#djDebug .panelContent p {padding: 0 5px;}
	#djDebug .panelContent p, #djDebug .panelContent table, #djDebug .panelContent ul, #djDebug .panelContent dl {margin:5px 0;}
	#djDebug .close {float:right; font-weight:bold;}
	#djDebug .panelContent dt, #djDebug .panelContent dd {display: block;}
	#djDebug .panelContent dd {margin-left:10px;}
	#djDebug th, #djDebug td {padding: 5px;}
	#djDebug .row1 td {background:#fff;}
	#djDebug .row2 td {background:#ddd;}
</style>
<div id="djDebug">
	<div id="djDebugToolbar">
		<ul id="djDebugPanelList">
			<li id="djDebugButton">DEBUG</li>
			{% for panel in panels %}
				<li>
					{% if panel.has_content %}
						<a href="{{ panel.url|default:"#" }}" onclick="djDebugToggle('{{ panel.dom_id }}')" title="{{ panel.title }}" class="{{ panel.dom_id }}">{{ panel.title }}</a>
					{% else %}
						{{ panel.title }}
					{% endif %}
				</li>
			{% endfor %}
		</ul>
	</div>
	{% for panel in panels %}
		{% if panel.has_content %}
			<div id="{{ panel.dom_id }}" class="panelContent">
				<div class="title">
					<a href="" onclick="djDebugClose()" class="close">Close</a>
				</div>
				{{ panel.content|safe }}
			</div>
		{% endif %}
	{% endfor %}
</div>
