<style type="text/css">
  @import url({{ BASE_URL }}/__debug__/m/toolbar.css);
</style>
<div id="djDebug">
	<div id="djDebugToolbar">
		<ul id="djDebugPanelList">
			<li id="djDebugButton">DEBUG</li>
			{% for panel in panels %}
				<li>
					{% if panel.has_content %}
						<a href="{{ panel.url|default:"#" }}" title="{{ panel.title }}" class="{{ panel.dom_id }}">{{ panel.title }}</a>
					{% else %}
						{{ panel.title }}
					{% endif %}
				</li>
			{% endfor %}
		</ul>
	</div>
	{% for panel in panels %}
		{% if panel.has_content %}
			<div id="{{ panel.dom_id }}" class="panelContent">
				<a href="" class="close">Close</a>
				{{ panel.content|safe }}
			</div>
		{% endif %}
	{% endfor %}
	<div id="djDebugWindow" class="panelContent"></div>
</div>
