#djDebug * {
    color: #000;
    float: none;
    margin: 0;
    padding: 0;
    position: static;
    text-align: left;
	font-family: Cambria, Georgia, serif;
	font-size: 16px;
}

#djDebugToolbar {
    background: #111;
    width: 200px;
    z-index: 100000000;
    position:absolute;
    top:0;
    bottom:0;
    right:0;
	opacity:0.9;
}

#djDebugToolbar small {
    color:#999;
}



#djDebugToolbarHandle {
    position:absolute;
    background: #111;
    top:0;
    right:0;
    height: 25px;
    width: 25px;
    z-index: 100000000;
}

#djDebugToolbarHandle ul li {
    list-style-type:none;
    padding: 0;
}

#djDebugToolbarHandle ul li a {
	display: block;
	width: 100%;
	font-size: 16px;
	line-height: 25px;
	font-weight: bold;
	text-decoration: none;
	color: #daf7ff;
	text-align: center;
}

#djDebugToolbarHandle ul li a:hover {
	color: #111;
	background-color: #9fbb54;
	border: 1px solid #111;
}

#djDebugToolbar ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

#djDebugToolbar li {
    border-bottom: 1px solid #222;
    color: #fff;
    display: block;
    font-weight: bold;
    float: none;
    margin: 0;
    padding: 0;
    position: relative;
    width: auto;
}



#djDebugToolbar li>a,
#djDebugToolbar li>div.contentless  {
	font-weight: normal;
	font-style: normal;
	font-variant: small-caps;
	text-decoration: none;
	display: block;
	font-size: 18px;
	padding: 10px 10px 5px 25px;
	color: #fff;
}

#djDebugToolbar li a:hover {
	color: #111;
	background-color: #c6d6da;
	border-right: 10px solid #fff;
}

#djDebugToolbar li.active {
	background-image: url(indicator.png);
	background-repeat: no-repeat;
	background-position: left center;
}

#djDebugToolbar li.active a:hover {
	background-color: #111;
	background-image: inherit;
	background-position: inherit;
	background-repeat: inherit;
	color: #b36a60;
	border: none;
}

#djDebugToolbar li small {
	font-size: 12px;
	color: #999;
	font-style: italic;
	text-decoration: none;
	font-variant: normal;
}


#djDebugToolbar #djDebugButton {
    color: #92ef3f;
}

#djDebug pre {
    background-color: #ffffff;
}

#djDebug tr.djDebugOdd pre {
    background-color: #eeeeee;
}

#djDebug .panelContent {
    
    display: none;
    position: absolute;
    margin: 0;
    padding: 10px 20px;
    top: 15px;
    width: auto;
    max-width: 700px;
    min-width: 500px;
    right: 200px;
    bottom: 15px;
    color: #111;
    z-index: 1000000;
    /*overflow: auto;*/
	border-left: 10px solid #c6d6da;
	border-top: 10px solid #c6d6da;
	border-bottom: 10px solid #c6d6da;
	opacity: 1.0;
	background: transparent url(panel_bg.png) repeat left top;
}

#djDebug .panelContent .panelScroll {
	position: relative;
	overflow: auto;
	height: 90%;
	padding: 0px 10px 10px 0px;
}

#djDebug .panelContent p a, #djDebug .panelContent dl a {
    color: #000;
}
#djDebug .panelContent p a:hover, #djDebug .panelContent dl a:hover {
    color: #900;
}

#djDebug .panelContent h3 {
    color: #111;
    font-size: 24px;
    line-height: 25px;
    margin-top: 2px;
    margin-bottom: 0.5em;
	font-variant: small-caps;
}



#djDebug .panelContent h4 {
	font-weight: normal;
}

#djDebug .panelContent code {
	font-family:
		Consolas,
		Monaco,
        "Bitstream Vera Sans Mono",
        "Lucida Console",
        monospace;
    font-size: inherit;
}


#djDebug .panelContent p {
    padding: 0 5px;
}

#djDebug .panelContent p, #djDebug .panelContent table, #djDebug .panelContent ol, #djDebug .panelContent ul, #djDebug .panelContent dl {
    margin: 5px 0 15px;
    background-color: #fff;
}

#djDebug .panelContent table {
    width: 100%;
    clear: both;
    border: 0;
    padding: 0;
}

#djDebug .panelContent table a {
    color: #000;
}
#djDebug .panelContent table a:hover {
    color: #900;
}

#djDebug .panelContent table th {
    background-color: #333;
    font-weight: bold;
    color: #fff;
    padding: 3px 7px 3px;
    text-align: left;
    cursor: pointer;
}
#djDebug .panelContent table td {
    padding: 5px 10px;
    font-size: 14px;
    background: #fff;
    color: #000;
    vertical-align: top;
    border: 0;
}
#djDebug .panelContent table tr.djDebugOdd td {
  background: #eee;
}

#djDebug .panelContent .close {
    text-indent: -9999999px;
    display: block;
    position: absolute;
    top: 5px;
    left: -25px;
	background: url(close.png) no-repeat center center;
	height: 40px;
	width: 40px;
}

#djDebug .panelContent .close:hover {
	background-image: url(close_hover.png);
}

#djDebug .panelContent dt, #djDebug .panelContent dd {
    display: block;
}

#djDebug .panelContent dd {
    margin-left: 10px;
}

#djDebug .highlight  { color: #000; }
#djDebug .highlight .err { color: #000; } /* Error */
#djDebug .highlight .g { color: #000; } /* Generic */
#djDebug .highlight .k { color: #000; font-weight: bold } /* Keyword */
#djDebug .highlight .o { color: #000; } /* Operator */
#djDebug .highlight .n { color: #000; } /* Name */
#djDebug .highlight .mi { color: #000; font-weight: bold } /* Literal.Number.Integer */
#djDebug .highlight .l { color: #000; } /* Literal */
#djDebug .highlight .x { color: #000; } /* Other */
#djDebug .highlight .p { color: #000; } /* Punctuation */
#djDebug .highlight .m { color: #000; font-weight: bold } /* Literal.Number */
#djDebug .highlight .s { color: #333 } /* Literal.String */
#djDebug .highlight .w { color: #888888 } /* Text.Whitespace */
#djDebug .highlight .il { color: #000; font-weight: bold } /* Literal.Number.Integer.Long */
#djDebug .highlight .na { color: #333 } /* Name.Attribute */
#djDebug .highlight .nt { color: #000; font-weight: bold } /* Name.Tag */
#djDebug .highlight .nv { color: #333 } /* Name.Variable */
#djDebug .highlight .s2 { color: #333 } /* Literal.String.Double */
#djDebug .highlight .cp { color: #333 } /* Comment.Preproc */
