{% load static %}

{% if panel.has_content and panel.enabled %}
  <div id="{{ panel.panel_id }}" class="djdt-panelContent">
    <div class="djDebugPanelTitle">
      <a href="" class="djDebugClose">×</a>
      <h3>{{ panel.title }}</h3>
    </div>
    <div class="djDebugPanelContent">
      {% if toolbar.store_id %}
        <img src="{% static 'debug_toolbar/img/ajax-loader.gif' %}" alt="loading" class="djdt-loader">
        <div class="djdt-scroll"></div>
      {% else %}
        <div class="djdt-scroll">{{ panel.content }}</div>
      {% endif %}
    </div>
  </div>
{% endif %}
