{% load i18n %}

<li id="djdt-{{ panel.panel_id }}" class="djDebugPanelButton" role="checkbox" aria-checked="{% if panel.enabled %}true{% else %}false{% endif %}">
  <input type="checkbox" data-cookie="djdt{{ panel.panel_id }}" {% if panel.enabled %}checked{% endif %} title="{% if panel.enabled %}{% trans "Disable for next and successive requests" %}{% else %}{% trans "Enable for next and successive requests" %}{% endif %}" aria-label="{% if panel.enabled %}{% trans "Disable for next and successive requests" %}{% else %}{% trans "Enable for next and successive requests" %}{% endif %}">
  {% if panel.has_content and panel.enabled %}
    <a href="#" title="{{ panel.title }}" class="{{ panel.panel_id }}" role="link">
  {% else %}
    <div class="djdt-contentless{% if not panel.enabled %} djdt-disabled{% endif %}" role="presentation">
  {% endif %}
  {{ panel.nav_title }}
  {% if panel.enabled %}
    {% with panel.nav_subtitle as subtitle %}
      {% if subtitle %}<br><small>{{ subtitle }}</small>{% endif %}
    {% endwith %}
  {% endif %}
  {% if panel.has_content and panel.enabled %}
    </a>
  {% else %}
    </div>
  {% endif %}
</li>
